<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<body>
<h1>Projects</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Project</th>
            <th>Votes</th>
            <th>Ratio</th>
        </tr>
        {% for project in projects %}
            <tr>
            <td>{{ project.id }}</td>
            <td><a href="{% url 'project' project.id %}">{{ project.title }}</a></td>
            <td>{{ project.votes }}</td>
            <td>{{ project.ratio }}</td>
            </tr>
        {% endfor %}
    </table>
    <p>Projects</p>
    <ul>
        {% for project in projects %}
            <li>Title: <a href="{% url 'project' project.id %}">{{ project.title }} -- {{ project.created }}</a> </li>
        {% endfor %}
    </ul>

{% endblock content %}
</body>
</html>